table {
  width: 100%;
}

.green {
  color: rgb(4, 217, 4);
}

.yellow {
  color: rgb(255, 208, 22);
}

.back-to-registration {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 208, 22);
  font-size: 15px;
  letter-spacing: .5px;
  color: black;

  mat-icon {
    font-size: 21px;
  }
}

i {
  font-size: 15px;
}

mat-label {
  mat-icon {
    font-size: 20px;
  }
}


mat-form-field {
  display: flex;
  justify-content: space-around;
}
