.example-card {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwjt2N2F2Po0PTdvVZXGhktlqSPZVb41Hs-7hV-k70rORdrpUOufIY_S_uHUppP0mXHp0&usqp=CAU');
  background-size: cover;
}

